*.d
*.o
*.so
*.swp
*.swo
*.bc
*.ll
*.dot
*.sliced
slices.log

CMakeFiles/
cmake_install.cmake
CMakeCache.txt

/eval-sys/

/build/

.idea/
cmake-build-debug/
sliceScript
redisScript
varScript
memcachedScript
Detector
program2data.txt
program3data.txt
simpleScript
test/pmem/1.5.1_pmdk/
test/pmem/1.6_pmdk/
test/pmem/1.7_pmdk/
test/pmem/ndctl/
test/pmem/refreshScript
test/pmem/pmdk/
instrumentScript
pmemInstrumentScript
usefulCommands
reactor/c_reversion
reactor/reversion
data.txt
