pmdk_path=/home/brian/a_bug_project/feb17/1.8-PMDK-Arthas
f1_path=/home/brian/full_persistent_memcached/persistent-memcached/memcached-1.5.13/
f2_path=/home/brian/eval_arthas/nonpmem_flush_memcached/memcached
f3_path=/home/brian/eval_arthas/synchronization
f4_path=/home/brian/pmem_bugs/pmem_intoverflow_memcached/memcached
f5_path=/home/brian/eval_arthas/full_memc
